.App {
  text-align: center;
  border:1px red solid;
}
.App header h1{
  font-size: 3rem;
  line-height: 1.6rem;
 }
.App header p{
 margin-top: 0px;
 padding-top: 0px;
 font-size: 1.2rem;
 line-height: 1.6rem;
}


.App-header {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
